[2015-01-12 12:04] bmwiedemann opened #6 "autogenerated plot usage is wrong"
trollolo help plot
Usage:
  trollolo plot

trollolo plot
trollolo plot requires at least 1 argument: "trollolo plot".

[2015-01-12 12:45] #6 closed

[2015-02-03 13:53] cornelius opened #13 "`trollolo show_backup` always shows archived cards"
The `show_backup` command should not show archived cards by default. Maybe a switch `--show-archived` would be nice, which would show the card with an indication that it is an archived card.

[2015-03-13 11:11] cornelius opened #15 "Restructure commands"
The current command structure is a bit ad-hoc and has grown over time. We should clean them up. Here is a proposal @kalabiyau and me came up with:

`backup get`
`backup list`
`backup show`

`burndown init`
`burndown get`
`burndown plot`

`get [--raw] lists`
`get [--raw] cards`
`get [--raw] checklists`
`get [--raw] url <url-fragment>`

`help`

Remove the `fetch-burndown-data` command.

[2015-06-23 09:18] aschnell opened #18 "wrong usage information"
aschnell@thalassa:/ARVIN/yast2/burndown/team-a> trollolo.ruby2.1 plot
ERROR: "trollolo.ruby2.1 plot" was called with no arguments
Usage: "trollolo.ruby2.1 plot"

[2015-06-29 15:43] cornelius commented on #18
Which version are you using? In git master I get the output:

[code]

[2015-06-29 17:28] aschnell commented on #18
aschnell@thalassa:~> trollolo.ruby2.1 --version
Trollolo: 0.0.3

Does that help? AFAICS it's installed as a gem:

/root/.gem/specs/api.rubygems.org%443/quick/Marshal.4.8/trollolo-0.0.3.gemspec

So not an rpm or from git.

[2015-07-03 15:21] cornelius commented on #18
I published Trollolo 0.0.4 now, which should fix this issue. Just update your gem.

[2015-07-03 15:21] #18 closed

[2016-03-02 17:07] cornelius opened #24 "Scaling tasks does not always work"
Scaling the tasks in a way that the starting point is the same as for story points does not always work. The burndown-23.png and burndown-56.png in the integration tests show that issue. There the green task line should start at the same point as the black story point line.

It probably has something to do with adding tasks during the sprint.

[2016-03-17 09:40] promulo opened #25 "Trollolo crashes when trying to plot test board"
I have copied the [test board](https://trello.com/b/CRdddpdy/trollolo-testing-board) into my Trello account to try trollolo. However, when I try to plot using the test board, one of trollolo's Python scripts crashes.

**Steps to reproduce**
- clone trollolo repo and install requirements
[code]

**Expected**
Chart to be generated

**Actual**
[code]

Using `.get("done", 0)` instead of `["done"]` [he

[2016-03-17 17:38] cornelius commented on #25
@aosthof I think this is due to the calculation of unplanned tasks on day one. The bug only occurs, when there are unplanned tasks on day one. We usually don't have that, so we don't see this error. Here is an example for a file which creates the problem:

[code]

We might want to add a test and fix it. Do you want to take this?

[2016-04-01 11:31] aosthof commented on #25
Fixed by PR #30 now.

[2016-04-01 12:48] #24 closed

[2016-04-01 13:22] #25 closed

[2016-08-05 15:54] cornelius opened #36 "Add command to move cards from planning to sprint board"
It would be nice to have a command to do the recurring task of moving cards from the product backlog on the planning board to the sprint backlog on the sprint board. We need to do this after each planning meeting.

Here are the details:

* Add a command `trollolo move-backlog --planning-board-id=ID1 --sprint-board-id=ID2`
* The planning board will contain a list of cards in a column named "Backlog

[2016-09-05 09:06] jimmykarily commented on #13
I think [this](https://github.com/openSUSE/trollolo/commit/e11b8a5f1192e66f26adacdc62d0e388bb856100) commit deprecated this issue. ```backup``` command no longer fetches archived cards so they are no longer shown with the ```show_backup``` command.

[2016-09-07 09:14] jimmykarily opened #38 "Wrong docker image used in specs"
When running tests without a trollolo-matplotlib Docker image present, [this](https://github.com/openSUSE/trollolo/blob/master/spec/integration/create_burndown_spec.rb#L34) message is shown. After running the proposed command, it should use the generated image (trollolo-matplotlib) but the actual command tries to use a Docker image called simply `matplotlib` (no trollolo prefix):

https://github.c

[2016-09-13 21:14] #38 closed

[2016-09-14 07:53] cornelius commented on #13
Right. Closing this issue. Thanks for pointing this out.

[2016-09-14 07:53] #13 closed

[2016-09-14 07:54] cornelius commented on #36
Done. Thanks, Mario.

[2016-09-14 07:54] #36 closed

[2016-09-15 09:54] cornelius opened #40 "Run burndown chart generation in container"
The burndown chart generation uses a Python script using matplotlib. This works nicely once you have everything you need installed properly. It's not trivial, though, because of Python version differences, the matplotlib backend, or the special font we use.

We already have a container encapsulating this environment. We use it for the tests. We could use the same container for the normal usage of

[2016-09-16 04:31] guilleiguaran commented on #15
@cornelius hey, I'm working on this and there are some other commands not included in the list and that should be moved to a subcommand (or keep as are currently), those are:

`organization`
`organization-members`
`move-backlog`
`sprint-cleanup`
`list-member-boards`

Also I suggest to move the next commands under the `set` subcommand:

`set priority`
`set cover`
`set description`

what do you thin

[2016-10-25 11:54] cornelius opened #43 "sprint-cleanup command fails when target board does not have a "Ready" column"
We renamed the "Ready" column to "Ready for Estimation". This makes the sprint-cleanup fail with a nil reference error.

There should be a proper error message, that the target list could not be found (including the expected name of the target list).

It might be nice to also add a command line option to specify the target list name.

[2016-10-26 10:34] cornelius opened #44 "set-priorities command fails with cards having '#' in the title"
If a card has a title which include a `#`, such as `(2) Fix bnc#1004697 - Repository setup inconsistent on kiwi images based on SMT clients` the `--set-priorities` command fails with an error such as

[code]

[2016-10-26 11:20] cornelius opened #45 "Command to show backlog"
When doing sprint commitments we need a way to see the whole backlog in one view.

To achieve that add a `show-backlog` command which lists the backlog on the terminal in a table. The table should have one column for the priority, one for the size and one for the title.

To show the average velocity we should add a command line option `--velocity` which specifies an average velocity. This adds a l

[2016-11-23 10:50] cornelius opened #50 "`set-priorities` should skip card with `Sticky` label"

[2016-12-01 12:02] bgeuken opened #54 "newer codeclimate (codeclimate-test-reporter) version breaks test suite"
Version 1.0 of codeclimate test reporter introduced changes that
break configurations for older versions and thus requires some
adaptations.

https://github.com/codeclimate/ruby-test-reporter/blob/master/README.md#upgrading-from-pre-10-versions

[2016-12-02 13:15] jimmykarily commented on #54
This breaks Travis builds so it is important that we apply a fix. With the changes introduced in codeclimate-test-reporter gem being breaking for older setups I see the following 3 options:

- Use the "new" config as described in the gem's README. This configuration does not break the builds when older version of the gem is being used. I cannot verify that the gem works but at we can solve the pro

[2016-12-02 14:46] jimmykarily commented on #45
Is this the expected output format?:

[code]

I think having the first two columns is redundant since they are necessarily extracted from the card title. Maybe just dump the card names in priority order?

[2016-12-07 08:38] cornelius opened #56 "Sprint cleanup doesn't clean up QA cards"
The `sprint-cleanup` command moves cards from the Sprint Backlog and Doing columns back to the planning board, but leaves out cards in the QA column. It should move these back as well.

[2016-12-08 13:41] manno opened #57 "Add command to create sprint boards from configuration"
A command like `setup-sprint-boards` should create all necessary boards, lists and labels to work with trollolos SCRUM commands.

The names (Ready, Backlog, QA, Sprint Backlog, Doing, ...) should be configurable via `.trollolorc`. The other scrum commands, like sprint clean up and prioritize, should use these new configuration values instead of command line arguments.

[code]

[2016-12-18 13:11] #43 closed

[2016-12-18 13:11] #50 closed

[2016-12-18 13:11] #56 closed

[2016-12-19 14:21] manno commented on #54
I believe this has been fixed with #52 and can be closed?

[2016-12-19 14:21] #44 closed

[2016-12-19 14:24] #54 closed

[2017-01-09 15:05] #57 closed

[2017-01-12 09:33] manno opened #62 "Remove TrelloWrapper"
`TrelloWrapper` bypasses the trello gem and is just a collection of unrelated methods.

There are some `client.put` and `.get` calls in the class. These do not escape arguments.
We should replace them with calls to the Trello gem.

The whole class is more like a `Helper`. Looking  at users of `TrelloWrapper`,  it's mostly called from `cli.rb`. The cli commands mostly call a different function each

[2017-02-26 10:15] cornelius opened #63 "Burndown as a Service"
Currently Trollolo still depends on some configuration data which have to be provided in the form of a YAML file when running it from the command line. The YAML file contains information such as the length of the sprint and the burndown data processed from the board for each day. So this is additional state which needs to be kept around, usually in a git repository.

If we could get rid of this ex

[2017-02-26 12:45] cornelius opened #64 "Write back burndown chart graphics to Trello board"
When generating the burndown chart graphics with `trollolo burndown --plot` or `trollolo plot` there should be a new option `--upload` which uploads the generated png file to the card showing the burndown chart. The board id is taken from the YAML file. The card is identified as the first card named "burndown chart" (case insensitive match) in the first "Done" column. If upload fails there should

[2017-02-26 13:09] cornelius opened #65 "Read burndown configuration from Trello board"
In order to get rid of the local state in the `burndown.yaml` file there should be an option to store this data on the Trello board it belongs to. To have a smooth transition this feature should explicitly be requested by the user with a command line option. So when running `trollolo burndown --board-id=<some-board-id> --remote-state" the behavior changes to keeping the state remotely on the board

[2017-02-26 13:13] cornelius opened #66 "Add configuration for when the burndown chart is updated"
The burndown YAML configuration should get another entry which defines at which time the burndown data is updated. This usually should be set to some time closely after the daily, assuming this is the time of the day, when the board is guaranteed to be in an up to date state. The data is updated when `trollolo burndown` runs after this time and there has been no update on the same day yet.

On the

[2017-02-26 13:15] cornelius opened #67 "Add option to force generation of the burndown chart"
When the `--force` option is provided to the `trollolo burndown` command it always updates the burndown chart even when due to other conditions like the configuration of the daily generation time, the data and chart would not be updated. This is to help fixing problems in the generation, when the data has incorrectly been calculated.

[2017-02-26 18:07] cornelius opened #68 "Run burndown generation as part of sprint cleanup"
The command `trollolo cleanup-sprint` moves cards back from the sprint board to the planning board. This marks the end of the sprint and prepares for the next one. To make sure that the burndown data is complete and reflects the latests state the cleanup command could run the burndown generation before moving cards.

[2017-02-26 18:09] cornelius opened #69 "Add flag to prevent automatic regeneration of burndown chart"
To prevent generation of the burndown chart with incomplete or inconsistent data we could add a flag to the burndown configuration, which prevents regeneration of the burndown chart. This could be something like `sprint_state = done`. This could then be used to freeze the burndown chart after final adjustments to the cards have been made, so that cards can freely be manipulated in preparation of t

[2017-02-26 18:17] cornelius opened #70 "Add command to run burndown generation for a set of boards"
There already is a command to run burndown generation for a set of boards: `trollolo burndowns`. This takes a list of boards from a local file. We should extend this command or add another one to run burndown generation for a set of boards defined on Trello. This way we could automate burndown generation using a central Trello board which collects the info for all Scrum teams including pointers to

[2017-02-26 18:18] cornelius commented on #45
@jimmykarily You are right. The first two columns are redundant. Just showing the card names in priority order would be enough.

[2017-02-26 18:29] cornelius commented on #15
I would group the organization commands under one common sub command:

`organization show`
`organization members`

The `list-member-boards` is a special command more or less getting raw data, so this would fit well under the `get` commands:

`get [--raw] boards --member-id=<id>`

The `move-backlog` and `sprint-cleanup` commands are tied to a specific Scrum work flow, so I would group them under a

[2017-04-18 13:17] cornelius opened #71 "Sprint cleanup should remove "unplanned" labels"
When running the `cleanup-sprint` command cards that are moved from the sprint board to the planning board should have the `Unplanned` label removed if they have it.

[2017-05-03 11:47] cornelius opened #72 "Show new title of card in output of set-priorities"
When running `trollolo set-priorities` the cards being prioritized are listed on stdout. It should list the new title of the card, not the old one. Then the new priorities already show up in the titles.

This can even work as a poor man's version of #45 then.

[2017-06-07 08:23] cornelius opened #74 "Idea: Manage todo items"
Trollolo could provide shortcuts for handling todo items on Trello. This could be used to manage incoming items for a backlog, but also for organizing personal todos.

Trollolo would get a new command `todo` with sub commands to configure the feature, and to add and list todo items.

`trollolo todo config` (without target configured):
[code]

`trollolo todo config xyz Todo`:
[code]

`trollolo todo

[2017-07-12 13:48] svollath opened #75 "Sprint lenght "total_days" is integer only"
Sprint lenght is limited to full days only, since it's an integer.
Normally we start our sprint with a half first day, and end also count the last day half, because of surrounding meetings. This time we started with a full day already, which then sums up in 8.5 days (9.5 for "total_days"). But that's not supported by trollolo currently.
We should change "total_days" to float, in order to support s

[2017-07-13 09:24] svollath commented on #75
The burndown chart must not support half days, since we'll need one data point per day anyhow - no matter how much time we spent on a specific day.

[2017-07-13 09:24] #75 closed

[2017-09-05 09:28] Ana06 opened #76 "previous sprint .yml shouldn't be needed"
When running `trollolo burndown --new-sprint` the `.yml` from the previous sprint is needed, but we are actually only using the number and the `board_id`. This two parameters can be also added in the command: `trollolo burndown --new-sprint --board-id=Fs7boVwI --new-sprint=3` so in this case the previous sprint shouldn't be needed.

[code]

[2017-09-05 09:32] Ana06 opened #77 "Being able to specify the sprint length and weekend_lines"
If I am not wrong currently there is no way to specify in the command line the `total_days` and `weekend_lines`. So that means that if I want to have an sprint with 8 days I have to generate the .yml, then manually modify the .yml and after that painting the graph again. This could be easily done with two more parameters for `trollolo burndown --new-sprint`. This would also help to automatize the

[2017-09-05 11:17] Ana06 opened #78 "custom number for sprint"
This is the documentation for creating a new sprint:

`n, [--new-sprint=NEW_SPRINT]                   # Create new sprint`

Because of that I had though you can have a custom name in the sprint, but that is not the case as the value it is just ignored here: https://github.com/openSUSE/trollolo/blob/master/lib/cli.rb#L179

It should be possible to provide a custom number number for creating a sprin

[2017-09-05 12:36] Ana06 commented on #76
This may be true only with https://github.com/openSUSE/trollolo/issues/77

[2017-09-07 13:16] Ana06 commented on #72
Tasks:

- The new name of the card is shown when running `trollolo set-priorities`
- Write tests

[2017-09-08 09:56] #72 closed

[2017-09-08 10:48] alexandergraul commented on #71
I am working on this now.

[2017-09-08 10:51] #77 closed

[2017-09-08 11:15] Ana06 opened #82 "command line option for planning_backlog name"
Introduce a command line option to specify the `planning_backlog` name as we already have for the `set-priorities` command, which was introduced here: https://github.com/openSUSE/trollolo/commit/eaaf5179d6b213c46cea82ca9911ece748e3d1f9

[2017-09-08 11:20] Ana06 opened #83 "Document all trollolo option"
All the commands that Trollolo has, are not documented here: https://github.com/openSUSE/trollolo/blob/master/man/trollolo.1.md#commands

**Clue:** The Trollolo available commands can be get running `trollolo help`

[2017-09-09 20:02] Ana06 opened #85 "Solve offenses for Layout/SpaceAfterNot cop"
This cop checks for space after `!`. There are offenses in our project that has been added to `.rubocop-todo.yml`.

Clue: The cop support autocorrect, so the offenses can be automatically solved. After applying the autocorrect, review the resulting code to check everything is as expected.

[2017-09-09 20:05] Ana06 opened #86 "Solve offenses for Layout/SpaceAroundEqualsInParameterDefault cop"
Checks that the equals signs in parameter default assignments have surrounding space. There are offenses in our project that has been added to `.rubocop-todo.yml`.

Clue: The cop support autocorrect, so the offenses can be automatically solved. After applying the autocorrect review the resulting code to check everything is as expected.

[2017-09-09 20:06] Ana06 opened #87 "Solve offenses for Layout/SpaceAroundOperators cop"
This cop checks for assignments in the conditions of if/while/until. There are offenses in our project that has been added to `.rubocop-todo.yml`.

Clue: The cop support autocorrect, so the offenses can be automatically solved. After applying the autocorrect review the resulting code to check everything is as expected.

[2017-09-09 20:12] Ana06 opened #88 "Solve offenses for Lint/AssignmentInCondition cop"
Checks that operators have space around them, except for ** which should not have surrounding space. There are offenses in our project that has been added to `.rubocop-todo.yml`.

This cop doesn't support auto correction, so the offenses have to be manually solved.

[2017-09-09 20:14] Ana06 opened #89 "Solve offenses for Style/AndOr cop"
This cop checks for uses of and and or, and suggests using && and || instead. There are offenses in our project that has been added to .rubocop-todo.yml.

Clue: The cop support autocorrect, so the offenses can be automatically solved. After applying the autocorrect review the resulting code to check everything is as expected.

[2017-09-11 11:14] #71 closed

[2017-09-12 08:02] alexandergraul commented on #83
Working on it.

[2017-09-12 14:38] #85 closed

[2017-09-12 14:38] #86 closed

[2017-09-12 14:38] #87 closed

[2017-09-12 14:38] #88 closed

[2017-09-12 14:38] #89 closed

[2017-09-13 08:04] Ana06 opened #96 "Remove Ruby 2.1 support"
I built and installed `trollolo` with Ruby 2.1 and it is not working:

[code]

I would suggest to remove Ruby 2.1 support as it is quite old. This way we can also remove [activesupport dependency](https://github.com/openSUSE/trollolo/blob/master/trollolo.gemspec#L21) which seems to be introduced only for staying compatible with Ruby 2.1: https://github.com/openSUSE/trollolo/commit/1b97fc55fcddeea9

[2017-09-13 08:13] #96 closed

[2017-09-14 08:31] Ana06 opened #100 "board-id in burndown is ignored"
When running `trollolo burndown --new_sprint --board-id=78454 --output=trollolo` the `board-id` parameter is ignored and it uses the `board-id` of the previous sprint, which is in the last `burndown-data.yml` file.

[2017-09-14 08:52] Ana06 opened #101 "board_aliases is not working"
`board_aliases` is not working

[code]

[code]

[2017-09-14 13:21] Ana06 opened #102 "setup-scrum should ask for credentials"
`setup-scrum` should ask for credentials, as other commands, suchs as `burndown`, are doing.

[code]

[2017-09-14 13:31] Ana06 commented on #102
It is working, my fault :see_no_evil:

[2017-09-14 13:31] #102 closed

[2017-09-14 13:40] Ana06 opened #103 "burndown-init has current path for output as default"
[code]

If no `output` option is provided, `.` should be the default.

[2017-09-15 08:20] Ana06 opened #106 "move-backlog fails: missing waterline"
`move-backlog` complains about waterline or seabed card needed with the waterline created.

[code]

[2017-09-15 08:21] Ana06 opened #107 "waterline or seabed card shouldn't be needed in move-backlog"
It could happens that when using scrum any of this cards is used.

[2017-09-15 09:49] #83 closed

[2017-09-15 10:07] Ana06 opened #110 "Render CLI commands documentation in help"
Add the documentation introduced in https://github.com/openSUSE/trollolo/pull/99 (probably part of it or adapting it) to the `help` command.

[2017-09-15 11:26] #68 closed

[2017-09-15 11:26] #106 closed

[2017-09-15 11:26] #107 closed

[2017-09-19 13:02] alexandergraul commented on #64
@Ana06 I think you can close this, isn't this covered by https://github.com/openSUSE/trollolo/pull/105?

[2017-09-19 13:03] alexandergraul commented on #100
I'll work on this.

[2017-09-19 13:04] alexandergraul commented on #101
Will also work on this one.

[2017-09-19 16:12] Ana06 commented on #64
@alexandergraul I think you are right. The only different is that the burndown chart is uploaded to the first card, and not to the first card called `burndown chart`. Is this enought for you @cornelius? I think it should be visible so the first card is the best place. I am going to close this, feel free to reopen it if there is something missing.

[2017-09-19 16:12] #64 closed

[2017-09-19 16:29] Ana06 opened #114 "Enforce that --plot-to-board make the burndown chart cover"
Currently the image is upload to the card as an attachment and some times is added as a cover, but not always. It would be great to enforce that it is always set as a cover.

[2017-09-21 15:55] alexandergraul commented on #100
for clarification: isn't this a new feature?
right now there is no `--board-id` for `trollolo burndown`.

[2017-09-21 16:24] alexandergraul commented on #101
I can't reproduce this bug:
[code]

[code]

[2017-09-22 14:47] alexandergraul commented on #103
I am waiting for https://github.com/openSUSE/trollolo/pull/116 to be merged before I send a PR since the the changelog.md won't automerge.

[2017-10-05 07:26] Ana06 commented on #101
@alexandergraul thanks, I will try it again. :wink:

[2017-10-05 07:30] Ana06 commented on #100
I think it appeared, at least some weeks ago, when running `trollolo --help`. Anyway, it is not important, if it is not implemented at all, we could implement it, it is already in other commands. :wink:

[2017-10-06 06:49] #114 closed

[2017-10-06 07:23] Ana06 opened #118 "Document options"
Although our [man](https://github.com/openSUSE/trollolo/blob/master/man/trollolo.1.md) is already quite complete the options are not already documented. That is specially important for the `burndown` command, as it is doing many different things, depending on the given options.

[2017-10-06 07:27] Ana06 opened #119 "Test suite need some love"
We need to think about how to improve the test suite because currently there are many thing untested or test that are not actually testing what we want and are difficult to modify when changing the code.

[2017-10-06 07:34] #78 closed

[2017-10-06 07:40] Ana06 commented on #119
I think that should be included in release 1.0.0. It is quite a lot of work :see_no_evil:

[2017-10-06 07:41] Ana06 commented on #76
Just for clarification, it shouldn't be needed but should work with it too.

[2017-10-06 07:41] Ana06 commented on #76
I think that should be included in release 1.0.0

[2017-10-06 08:00] Ana06 commented on #100
@alexandergraul how are you going with this? :thinking:

[2017-10-06 08:21] alexandergraul commented on #100
@Ana06 I will work on this in the upcoming days, I assume I will have a PR ready in the first half of the next week.

[2017-10-06 14:57] Ana06 opened #124 "Find out why make_cover is not working"
Check why TrelloWrapper is not working. It seems to work sometimes but not always, but I've tested always after calling `add_attachment` and it seems that with this method the attachment is also sometimes added as cover, so it may be that it is not working at all.

**Tip:** Consider stop using `put` call and use [Ruby Trello](https://github.com/jeremytregunna/ruby-trello) as mentioned here: https:

[2017-10-06 14:58] Ana06 commented on #62
At least I want the put calls to be removed!!! :+1:

[2017-10-06 16:58] #103 closed

[2017-10-18 11:39] Ana06 opened #130 "Being able to generate burndown chart image"
Currently we have an option to select the working directory, where the data file is. At the moment the `png` with the burndown chart is in the same directory. We should implement a new option in `burndown` command, so that this directory can be different.

[2017-11-02 13:20] #100 closed

[2017-11-02 15:18] Ana06 opened #133 "Solve Style/RegexpLiteral offenses"
There is at least one offenses for Style/RegexpLiteral Rubocop cop, as you can see in [.rubocop_todo.yml](https://github.com/openSUSE/trollolo/blob/master/.rubocop_todo.yml).

Solve the offense. This cop support autocorrection, but the offense can not be automatically corrected.

[2017-11-03 14:11] Ana06 opened #134 "Add --plot-to-board to plot command"
This option would be also useful in this command. This will send the plotted burndown chart to the first card of the `Done` column.

[2017-11-03 14:13] Ana06 opened #135 "Make SPRINT-NUMBER optional in plot"
If it is not given we can just take the last sprint, so the sprint with the higher number.

[2017-11-09 14:54] Ana06 opened #137 "Remove card priority when cleaning Sprint"
When executing `cleanup-sprint` the cards are moving to the backlog with the priority. It would be great to remove it automatically.

[code]

[2017-11-09 14:57] Ana06 opened #138 "Label last sprint cards in cleanup-sprint"
When executing `cleanup-sprint` the cards are moved to the backlog. It would be great to label then as `in the last sprint`. This should be in an option (`labelled=TRUE` for example), as may want that you don't want by default.

[2017-12-12 10:58] Ana06 opened #139 "Trollolo doesn't work with Ruby 2.4"
Everything seems to work in Ruby 2.4.1, but no wit my current 2.4.2:

[code]

That's the error:

[code]

This may be solved by updating rest-client to the last version. For doing this we need to change the dependency with ruby-trello. To use >= 1.6 where a [higher rest-client can be used](https://rubygems.org/gems/ruby-trello/versions/1.6.0). But according to https://github.com/openSUSE/trollolo/c

[2018-01-17 10:34] Ana06 commented on #124
It could be related with the fact that we upload several times an image with the same card to the card, as it seems it set the first one as cover.

[2018-01-17 15:06] alexandergraul opened #143 "trello token expiry notification"
Currently there is no notification when your trello token (member token) expires. There is just the
KeyError that is raised when your key is invalid:
[code]
I think there should at least be a hint reminding you that the token only lasts for a month at a time.

[2018-01-17 15:07] #124 closed

[2018-01-18 08:24] Ana06 opened #147 "Should story points be an integer?"
currently story points are a double, as you can see in the yaml file:

[code]

Can we safely change it to integer? maybe someone is using it with doubles.... 🤔

[2018-01-18 10:23] cornelius commented on #147
Yes, some people are using fractions of story points, things like 0.5.

[2018-01-19 10:08] Ana06 commented on #147
ok, then I close this. Thanks @cornelius!

[2018-01-19 10:08] #147 closed

[2018-01-20 08:47] rishabhptr commented on #130
@Ana06 If this is available, can I work on it?

[2018-01-26 18:05] ankitkataria commented on #138
@Ana06 I wanted to contribute to trolllolo, can i claim this issue? also could i get some background on the project such as how to set it up? and does this project have documentation?

[2018-01-27 14:17] ankitkataria commented on #134
can i claim this issue too?

[2018-01-29 12:04] Ana06 commented on #138
@ankitkataria all yours! 😉

Trollolo is a quite simple Ruby gem and it should be difficult to set it up. That is why it does not much documentation, although if you think it would be useful to have more documentation, fell free to send a PR. 😉

We have information about running the tests in https://github.com/openSUSE/trollolo/blob/master/CONTRIBUTING.md

Apart from that, you should only need to i

[2018-01-29 12:05] Ana06 commented on #134
@ankitkataria what about finishing #138 before starting with this one? 😉

[2018-01-29 12:33] ankitkataria commented on #138
on it :smile:

[2018-01-29 12:44] Ana06 commented on #138
@ankitkataria only openSUSE biggest project have a dedicated IRC channel, until now there was not the need for an IRC channel for Trollolo. You can contact me directly in IRC (Ana06). 😉

[2018-01-29 12:46] Ana06 commented on #130
@rishabhptr sorry that I didn't answered before, I had skipped your comment. 🙈

Sure! you can work on this! 😉

[2018-01-29 13:01] Ana06 opened #148 "Add RuboCop RSpec to the project"
We want to check the style in our tests as well. For that we want to add the [rubocop-rspec gem](https://github.com/backus/rubocop-rspec). It would need to be documented in the [Contributing guide](https://github.com/openSUSE/trollolo/blob/master/CONTRIBUTING.md) and run in Travis.

**Note:** It is not needed to solve all the offenses, it is enough with add them to the `.rubocop_todo.yml` file.

[2018-01-29 14:21] Ana06 opened #149 "Solve Bundler/OrderedGems RuboCop cop offenses"
Solve `Bundler/OrderedGems` RuboCop cop offenses. This cop checks that gems are alphabetically sorted within groups. More info: https://rubocop.readthedocs.io/en/latest/cops_bundler/#bundlerorderedgems

**Tip:** The cop supports autocorrection.

[2018-01-29 14:39] Ana06 opened #150 "Solve Layout/DotPosition RuboCop cop offenses"
Solve `Layout/DotPosition` RuboCop cop offenses, currently excluded in the [*rubocop_todo* file](https://github.com/openSUSE/trollolo/blob/master/.rubocop_todo.yml). This cop checks the . position in multi-line method calls. More info: https://rubocop.readthedocs.io/en/latest/cops_layout

**Tip:** The cop supports autocorrection.

[2018-01-29 14:42] Ana06 opened #151 "Solve Style/MixinUsage RuboCop cop offenses"
Solve `Style/MixinUsage` RuboCop cop offenses, currently excluded in the [*rubocop_todo* file](https://github.com/openSUSE/trollolo/blob/master/.rubocop_todo.yml). This cop checks that `include`, `extend` and `prepend` statements appear inside classes and modules, not at the top level, so as to not affect the behavior of `Object`. More info: https://rubocop.readthedocs.io/en/latest/cops_style/#sty

[2018-01-29 14:46] Ana06 opened #152 "Solve Performance/HashEachMethods RuboCop cop offenses"
Solve `Performance/HashEachMethods` RuboCop cop offenses, currently excluded in the [*rubocop_todo* file](https://github.com/openSUSE/trollolo/blob/master/.rubocop_todo.yml). This cop checks for uses of `each_key` and `each_value` Hash methods. More info: https://rubocop.readthedocs.io/en/latest/cops_performance#performancehasheachmethods

**Tip:** The cop supports autocorrection.

[2018-02-02 09:48] Ana06 opened #154 "Add pep8"
Trollolo has some Python code. We should add [pep8](https://www.python.org/dev/peps/pep-0008), Python standard style checker to the project. It would need to be documented in the [Contributing guide](https://github.com/openSUSE/trollolo/blob/master/CONTRIBUTING.md) and run in Travis.

[2018-02-03 02:13] ankitkataria commented on #138
@Ana06 I made a PR(https://github.com/openSUSE/trollolo/pull/156) i needed some help on managing the new labels, please check. :sweat_smile:

[2018-02-10 07:51] cornelius opened #160 "Use SUSE Ruby style guide"
Is there a reason why we are not using the [SUSE Ruby style](https://github.com/SUSE/style-guides/blob/master/Ruby.md) guide?

[2018-02-10 12:04] Ana06 commented on #160
Yes, I do not understand why do we have a SUSE Ruby Style. I opened an issue some months ago with some concerns about that guide: https://github.com/SUSE/style-guides/issues/18 I really prefer to follow Rubocop defaults. Rubocop is community maintained, so the concerns can always be raised there and this way we save discussion in individual projects as well as having a unique Ruby style guide and

[2018-02-10 12:10] Ana06 commented on #139
@cornelius it fails when for example running `trollolo burndown --plot-to-board`, I am not sure if it fails when running the tests. I didn't try with Ruby 2.4.3, but I doubt the problem get solved without updating the other gems.

I also opened an issue in ruby-trello: https://github.com/jeremytregunna/ruby-trello/issues/239

[2018-02-10 15:42] Ana06 commented on #139
I have tried it and in my computer with Ruby 2.4.3 the tests also fail, but in travis they do not fail: https://travis-ci.org/Ana06/trollolo/builds/339864941

I wonder what is different between my local environment and Travis 🤔

[2018-02-10 16:16] Ana06 commented on #139
I am also using Ruby 2.4.3, rest-client 1.8.0 and ruby-trello 1.5.1 And the error I get in the tests is the same one _key not found: :ciphers_ and it seems this error is related to rest-client and solve in a higher
 version 🤔

[2018-02-12 17:52] namangupta01 commented on #152
@Ana06 Can i work on it?

[2018-02-13 08:50] Ana06 commented on #152
@namangupta01 there is already a PR for this, please take another issue 😉

[2018-02-14 11:54] cornelius commented on #160
I think it makes sense for the areas where there are no clear preference in the community style guide. Example are the string literals. It's true that the style guide is under the SUSE organization, not the openSUSE one, but effectively it's mostly the same people working on code in both organizations, so using the same style makes a lot of sense.

I don't want to create any friction here, so if y

[2018-02-14 12:02] cornelius opened #162 "Seperate general config and board specific config"
At the moment a lot of configuration options such as the definition of the column names is read from the config file from `~/.trollolorc`. A subset of these settings can be overwritten by the meta section in the burndown YAML file. I think this is overly complicated and doesn't separate concerns very well.

I would suggest to read values only from one place, either the general config file or the b

[2018-02-14 12:23] cornelius commented on #137
Often it's helpful to still have the priorities there after the cleanup so you can for example reestimate them and put them back into the backlog in the same order as before. So I would suggest to add this as an option `--remove-priorities` to the command.

[2018-02-14 13:04] cornelius commented on #160
But I do have a strong opinion on switching off the `%w` check. Requiring arrays which happen to contain strings to be written in a different way than other arrays only creates inconsistent code for no real benefit.

[2018-02-14 16:05] Ana06 commented on #160
@cornelius

That is not really true, I have never worked on a project following SUSE style guide and I also don't see the reason why SUSE needs its own style guide. An even if SUSE wants a style guide, who decide what goes there? People working at SUSE change and rules in Rubocop as well.

Are you fine with changing the default for this and keeping the defaults for the rest? If so I'll modify this

[2018-02-15 09:51] Ana06 opened #164 "Rake task for test"
As suggested by @cornelius in https://github.com/openSUSE/trollolo/pull/163, it would be nice to have a rake task to run the tests and style checkers, so that everything is run together and there is not need of remember the options.

It should be used in Travis as well.

[2018-02-15 19:26] Atul9 commented on #149
I am working on this issue

[2018-02-15 19:28] Atul9 commented on #150
I am working on this issue

[2018-02-16 09:19] #149 closed

[2018-02-16 13:51] rahul2240 opened #166 "invalid id error while using burndown command"
Trollolo burndown generating this error
ERROR -- : [400 GET https://api.trello.com/1/boards/MYBOARDID?lists=open&cards=open&card_checklists=all]: invalid id

but my id is valid as  "trollolo get-cards --board-id=MyTrelloBoard" is working.

[2018-02-16 16:05] rahul2240 commented on #166
These test are also failing
create_burndown.py
  creates burndown chart with varying number of total story points and tasks (FAILED - 1)
  creates burndown chart with done tasks at the beginning (FAILED - 2)
  creates burndown chart of unfinished sprint (FAILED - 3)
  creates burndown chart with fast lane and no tasks (FAILED - 4)
  creates perfect burndown chart (FAILED - 5)
  creates burndown ch

[2018-02-16 16:20] rahul2240 commented on #164
can I work on this issue?

[2018-02-16 16:25] namangupta01 commented on #133
can i work on it?

[2018-02-16 17:16] matheussbernardo commented on #45
I'm currently working on this issue, @cornelius @Ana06.
My problem is how to get the column in a properly way what i am doing today is.
`def show_backlog
    puts "Title"
    TrelloWrapper.new(@@settings).board(options['board-id']).open_columns[0].cards.each do |card|
      puts "| " + card.name
    end
  end`

getting the first column of the array of open columns but it seems like a bad solution!

[2018-02-16 17:38] namangupta01 commented on #166
Hey @rahul2240 You are using MyTrelloBoard as the alias name to your `board-id` so you must have to provide id for the alias name MyTrelloBoard in .trollolorc. I think this would resolve your error. 🙂

[2018-02-16 17:41] rahul2240 commented on #166
@namangupta01 Thanks but as i mentioned my second command( "trollolo get-cards --board-id=MyTrelloBoard" ) is working. I have already provided id for the alias name in .trollolorc

[2018-02-16 17:46] matheussbernardo commented on #45
@cornelius The --velocity option should have this output

$ bin/trollolo show-backlog --board-id=Test --velocity 9

| Title
| P3: (7) Dress like a superhero
| P5: (2) Save the world
| (9) Velocity |
| P6: (4) Celebrate

[2018-02-16 17:48] namangupta01 commented on #166
Where have you put your id? In current working directory? Put it into the current user directory.

[2018-02-16 17:53] namangupta01 commented on #166
Yes, you are right i also got the error.

[2018-02-16 17:56] rahul2240 commented on #166
@namangupta01 😄 My tests are passing now. My tests were failing because docker was not installed in my system, If you are getting the same errors then I think installing docker will solve the problem 😄

[2018-02-16 18:07] rahul2240 opened #169 "rubocop Style/FrozenStringLiteralComment offence"
Rubocop is failing because of "Style/FrozenStringLiteralComment: Missing magic comment # frozen_string_literal: true"

[2018-02-16 18:08] namangupta01 commented on #166
The error i was getting because in burndown i was using alias name `MYBOARDID`  and in get-cards i was using `MyTrelloBoard` and i only configured `MyTrelloBoard` in my . trollolorc file.

[2018-02-16 18:24] rahul2240 commented on #148
can I work on this?

[2018-02-16 18:35] rahul2240 commented on #166
As the issue is resolved so closing the issue 😄 .

[2018-02-16 18:35] #166 closed

[2018-02-17 10:44] Ana06 commented on #169
where? the last build in Travis is green: https://travis-ci.org/openSUSE/trollolo/builds/342254099?utm_source=github_status&utm_medium=notification

[2018-02-17 10:47] Ana06 commented on #137
I would do it the other way around, removing them automatically and have a command to keep priorities. 🤔

[2018-02-17 10:51] Ana06 commented on #164
@rahul2240 yes! actually you have already started 🤣

[2018-02-17 10:51] Ana06 commented on #148
@rahul2240 what about finishing the other issue you are working on first? 😉

[2018-02-17 10:53] Ana06 commented on #133
@namangupta01 sure you can! actually you have already started 🤣

[2018-02-17 11:10] Ana06 commented on #45
@matheussbernardo you can send a PR to implement this without the velocity, and then another one for the velocity. This two thing can be done independently, so let's focus first on the `show-backlog` command to avoid having a too complicate and big PR. 😉

[2018-02-17 23:13] Ana06 commented on #169
how are you running rubocop? there should be something different between travis and your local setup 🤔

[2018-02-19 08:37] cornelius commented on #137
My rationale for requiring the user to explicitly call the option for removing the priority is that this is a destructive operation and that defaults should be non-destructive. There is no way to get the priorities back once they are removed so when the user has to add the option to remove them there are no surprises which can't be undone.

This has to be balanced with ease of use, though. The com

[2018-02-19 08:45] cornelius commented on #45
@matheussbernardo I agree with @Ana06 about separating the two parts in two different PRs. For the velocity option I would separate the code for handling the actual command line option such as parsing the option, putting out help, etc (which belongs in cli.rb and is mostly handled by the CLI parsing framework) and the "business logic" code which actually reads the data and prints out the results.

[2018-02-20 08:55] Ana06 commented on #143
and the error even doesn't say that the key is invalid... what that you could already find out that it has expired :thinking:

[2018-02-20 09:50] Ana06 commented on #143
and it gives the same error as the one in https://github.com/openSUSE/trollolo/issues/139

[2018-02-20 12:09] Ronaq13 commented on #134
Can I take this issue

[2018-02-20 12:11] Ana06 commented on #134
@Ronaq13 sure! :+1:

[2018-02-20 12:13] Ronaq13 commented on #82
@Ana06 Can I take this issue?

[2018-02-20 12:18] Ronaq13 commented on #134
Started working on it.

[2018-02-20 13:15] Ana06 commented on #82
@Ronaq13  what about finishing #134 before starting with this one?

[2018-02-20 13:18] Ronaq13 commented on #82
Ya sure

[2018-02-20 16:06] Ana06 commented on #139
as discussed with @cornelius, we should update `rest-client` and `ruby-trello`, removing the restriction of the gemspec. If there are any test failures this should be fixed as well. :+1:

[2018-02-20 17:17] rahul2240 commented on #169
![sss](https://user-images.githubusercontent.com/25618739/36438458-ff9ee712-168f-11e8-8829-dc2ccc39977c.png)
@Ana06 I am using the same command as mentioned

[2018-02-21 10:29] #152 closed

[2018-02-21 10:35] Ana06 commented on #169
@rahul2240

What Ruby version are you using? `ruby --version`

can you also check that the rubocop version is the correct one? `bundle exec "rubocop -V"`

[2018-02-21 17:42] rahul2240 commented on #169
I am using ruby 2.4.0p0
also my rubocop version is 0.52.1

[2018-02-23 07:45] Ronaq13 commented on #134
@Ana06 where is the contribution.md for this project? How can I set up this project?

[2018-02-23 08:57] #150 closed

[2018-02-23 12:11] Ronaq13 commented on #134
@Ana06 I was trying my hands on it and have two doubts.

1) When I tried to create a plot by `trollolo plot 01` but it gave me the following error:
`create_burndown.py", line 39
    print args
             ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(int args)?`
Rest of the integration I have done and I am able to run `trollolo get-cards --board-id=MyTrelloWelcomeBoard

[2018-02-23 12:50] Ana06 commented on #134
@Ronaq13 can you send a PR with the changes? it is really difficult to find out what you exactly did without seeing the code :wink:

[2018-02-23 13:52] Ronaq13 commented on #134
I haven't made any changes regarding this issue. I just add parentheses
around `args` in print statement. I was trying to understand, what exactly
trollolo does, so I was just trying out it features.

On 23 Feb 2018 6:20 p.m., "Ana María Martínez Gómez" <
notifications@github.com> wrote:

[2018-02-23 15:05] Ana06 commented on #134
Sorry @Ronaq13 , I got you wrong. If you didn't change anything, and you find something that doesn't work, it may be a bug and then it would be better to open a separate issue :wink:

[2018-02-24 16:13] Ronaq13 opened #172 "Missing parentheses in call to 'print'"
Setup the project according to Readme.md, then after creating `burndown-data-01.yaml` when I call `trollolo plot 01` or `trollolo plot 1` it gives the following error:

`  File "/home/raounak/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/trollolo-0.2.0/scripts/create_burndown.py", line 39
    print args
             ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(int arg

[2018-02-24 16:43] Ronaq13 commented on #134
I encounter an issue #172 while solving this issue.

[2018-02-24 17:05] Ronaq13 commented on #172
Ok so I got it, its python version problem. It runs on python 2 and I am using python 3

[2018-02-24 17:06] #172 closed

[2018-02-24 17:07] Ronaq13 commented on #134
It was a python vesion conflict. back on this issue

[2018-02-26 10:49] #133 closed

[2018-02-26 12:45] mdeniz opened #173 "burndown-data-#{sprint.number}.yaml should be .yml"
As the standard extension for YAML files is `.yml` we should change this accordingly.

[2018-02-28 11:42] Ronaq13 commented on #173
I want to take it.

[2018-02-28 14:31] #139 closed

[2018-02-28 14:36] Ana06 opened #177 "Fix failing tests"
Fix the test skipped in the PR to update ruby-trello: https://github.com/openSUSE/trollolo/pull/175/commits/b638d89e20ae47beabd2d0f47591e5fdbbe1b503

This fails are broken although the code seems to keep working. It seems to be a problem with the cassettes.

[2018-02-28 16:03] rishabhptr opened #178 "Missing check for true in unit test."
I think there should be `.to be true` in lines 20 & 21 expect statements because now the test would pass in any scenario. :smile:

https://github.com/openSUSE/trollolo/blob/d928c9417943ba2e8645cf08b2b30c7b1ebdd34e/spec/unit/cli_spec.rb#L14-L22

[2018-02-28 17:33] Ronaq13 commented on #173
#179

[2018-02-28 17:34] Ronaq13 commented on #173
Please review: #179

[2018-03-01 07:51] Ana06 commented on #134
@Ronaq13

As I told you by email, yes. You can also write a test.

The rest, I'll answer in the PR

[2018-03-01 07:58] Ana06 opened #180 "Stop supporting old Ruby versions"
I would like to stop supporting Ruby 2.2 and 2.3 to be able to use Ruby method introduced in newer Ruby versions. Otherwise the code will get old.

@cornelius what do you think?

[2018-03-01 07:59] Ana06 commented on #160
@cornelius [Style/WordArray is already disabled](https://github.com/openSUSE/trollolo/blob/master/.rubocop.yml#L4). Can we close this issue?

[2018-03-01 08:58] Ana06 commented on #178
If a test is wrong, you can directly open a PR to fix it, you don't need to open an issue. If it is wrong it has to be be fixed and there is no discussion, so we don't need an issue. :wink:

[2018-03-01 15:01] DavidKang opened #181 "Cannot find trollolo"
After installing Trollolo 0.3.0 and try to execute it, we run into the next output:

[code]
@Ana06 and I run `gem.ruby2.4 contents trollolo` and created a symbolic link from `/usr/lib64/ruby/gems/2.4.0/gems/trollolo-0.3.0/bin/trollolo` to `/usr/bin/trollolo` solve the problem.

[2018-03-01 15:32] #181 closed

[2018-03-02 16:04] Ronaq13 commented on #178
I am working on this.

[2018-03-02 16:34] Ronaq13 commented on #151
Can I work on this?

[2018-03-03 10:14] Ronaq13 commented on #154
I want to work on this.

[2018-03-03 15:10] Ronaq13 commented on #82
I made a pull request for #134 (#184). You can review that and tell me about any changes. Can I work on this now?

[2018-03-03 21:27] Ana06 commented on #154
@Ronaq13 please focus on finishing your other PRs because assigning your self more issues. If you are waiting for your other PR to be reviewed, you can in the meanwhile read about Scrum, or the documentation of the Trello API, etc. (i can point you to resources if you needed it). That you open more PR makes that you end with many things unfinished. And with that many PRs, It will take me longer un

[2018-03-03 21:40] Ana06 commented on #166
@rahul2240, @namangupta01 if you think that some documentation will help other people who face the same problem, a PR is really welcome :wink:

[2018-03-03 21:46] namangupta01 commented on #166
sure @Ana06 I will make a PR regarding this

[2018-03-04 04:18] Ronaq13 commented on #154
Sorry for these multiple PRs. @Ana06 actually I want to understand the project code, architecture, and present feature so I thought, if I could solve issues then that would help in doing so. That's why I did. I will keep this in mind now.

Yes please give me resources by which I can understand the current architecture of this project. These things would help me in making a good architecture/code-s

[2018-03-04 17:07] Ana06 commented on #166
ok :+1:

[2018-03-04 18:29] #178 closed

[2018-03-05 22:42] namangupta01 opened #189 "Getting DoneColumnNotFoundError"
I am following https://github.com/openSUSE/trollolo/blob/master/man/trollolo.1.md and have also setup `.trollolorc` file.
My `.trollolorc` file looks like this :

![screen shot 2018-03-06 at 3 32 19 am](https://user-images.githubusercontent.com/20709985/37002263-1196aef0-20ef-11e8-8981-19f97ad05ef1.png)

And my board looks like :
![screen shot 2018-03-06 at 4 09 25 am](https://user-images.githubus

[2018-03-06 14:35] Ana06 commented on #189
why is `done_column_name_regex` a list? I guess it should something like:

`done_column_name_regex: /\ADone/`

[2018-03-06 15:42] namangupta01 commented on #189
So Soory, i mistakenly added the wrong error screenshot. I have updated it now please have a look.

[2018-03-06 16:48] namangupta01 commented on #189
I found what is causing problem the problem is that `@settings.done_column_name_regex` is an array of string and what we actually need is the regular expression on the right hand side. I will create a pr regarding this.

[2018-03-06 16:52] namangupta01 commented on #189
I think it would be easy to use if we use `done_column` similarly we are using `not_done_columns` because we can easily convert the array of string into regex expression easily.

[2018-03-07 10:21] Ana06 commented on #189
As said in the PR, the code is fine, you just need to configure it correctly :wink: Closing....

[2018-03-07 10:21] #189 closed

[2018-04-26 13:07] #169 closed

[2018-04-27 08:47] manno commented on #160
The literals like %w and %i are like a core part of Ruby. I don't see the inconsistency. I like how rubocop suggest delimiters, like braces, brackets and parentheses, so those are consistent. Having %w!a b c! and %w@a b c@ is inconsistent.

[2018-04-27 08:47] #160 closed

[2018-04-27 09:57] manno opened #192 "Remove Gemfile.lock from .gitignore and add to repo"
As an application trollolo should publish a set of known working dependencies.

There is an 8 year old article from Yehuda Katz:

http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/

Without a Gemfile.lock
* new contributors cannot run the application or tests without getting weird errors
* upgrading local checkouts requires  deletion of an old Gemfile.lock before run

[2018-04-27 10:52] #177 closed

[2018-04-29 01:52] chocoelho commented on #154
@Ana06 in this case, [flake8](https://github.com/PyCQA/flake8) is usually the default linter used on Python code bases. Also, there's [pylint](https://github.com/PyCQA/pylint) as well, which deals with even more issues that may arise. Which would you rather start with?

[2018-04-30 08:50] Ana06 commented on #154
flake8 is running pep8 and more stuff, right? I am fine with using flake8 too. @Ronaq13 would you like to update your PR to use flake 8 instead of pep8? :smiley:

[2018-04-30 09:09] Ronaq13 commented on #154
We can use flake8. But I thinnk making a spearate PR for this will be fine. Updating the current one will take more time. Then we can choose which one to have.

[2018-05-02 11:12] manno commented on #119
I noticed we have three(?) different approaches to dealing with the outgoing Trello API requests.

I'll just put my notes here:

* VCR tests: hard to write good expectations without exposing `board` and recording more requests since everything is a request? Regenerating requires example data on trello. Even though it's documented creating new VCRs looks complicated. Responses are just as real as i

[2018-05-04 15:45] manno commented on #119
I came up with a branch to remove VCR from the Scrum tests: https://github.com/openSUSE/trollolo/tree/wip-remove-vcr

I'd like to get rid of them, because expectations were weak and when using them to iterate on stories they add manual work. I constantly have to watch out for outdated cassettes and switch between real and dummy settings.

[2018-05-18 18:54] matheussbernardo commented on #15
Great, I really liked the changes proposed.

So the changes are:

`burndown multi-update`
`get members`
`scrum backlog`
`scrum sprint`  *maybe it is not very clear that this is the sprint backlog*
and the --raw option is kept.

I would like to know if I can start to implement the changes. @Ana06 @cornelius

[2018-05-24 07:04] cornelius commented on #15
Let's leave out the `scrum sprint` for now, if it's not available yet anyway.

@matheussbernardo please go ahead with the implementation. We can discuss more details when reviewing your pull request.

[2018-05-29 11:05] simotek opened #194 "Trollolo isn't packaged in openSUSE Leap or Tumbleweed"
I wanted to install and test trollolo today but it doesn't have an openSUSE package :-) I don't like using 3rd party software managers so maybe having it packaged in openSUSE would be a nice enhancement. :-)

[2018-05-29 11:09] cornelius commented on #194
On Dienstag, 29. Mai 2018 13:05:20 CEST Simon Lees wrote:

You could run it from sources in git. I think that's what at least some of us
are doing.

Packaging Ruby gems is generally painful, so I'm not sure there'll be somebody
with the motivation to do so.

--
Cornelius Schumacher <cschum@suse.de>

[2018-06-01 08:31] Ana06 commented on #194
actually @matheussbernardo come up with the same idea some days ago. :wink:

[2018-06-19 08:33] #154 closed

[2018-06-21 22:08] cornelius commented on #192
It's a bit tricky because Trollolo is an application and a gem at the same time. So which side of potential issues do we want to accept? Getting Trollolo via a `gem install` is a common use case and we should make sure that this works. So does checking in the `Gemfile.lock` help with this or goes against it?

[2018-06-21 22:29] cornelius commented on #173
The [YAML FAQ](http://yaml.org/faq.html) says to use `.yaml`. `.yml` is fine as well as it's used quite often. In the end I think it doesn't matter and I would not spend any effort on this.

[2018-06-22 07:46] Ana06 commented on #173
@cornelius

ok :+1:

[2018-06-22 07:46] #173 closed

[2018-06-27 06:59] cornelius opened #197 "`cleanup-sprint` fails if `--set-last-sprint-label` option is not set"
Calling `trollolo cleanup-sprint --board-id=something --target-board-id=anotherthing` fails with an error:

[code]

[2018-06-27 07:00] cornelius commented on #197
@ankitkataria would you mind having a look as you did the pull request introducing the option?

[2018-06-27 07:07] cornelius opened #198 "`cleanup-sprint` doesn't remove waterline label"
When calling `cleanup-sprint` on a board which uses "Under waterline" labels, the labels are not removed. There is an warning when executing the command:

[code]

[2018-06-27 07:32] ankitkataria commented on #197
@cornelius made a PR with a possible fix. Actually earlier I was using named_arguments to pass that third parameter in `cleanup`. Now I'm using default_arguments, and pertaining to one of your comments on my earlier PR, in `sprint_cleaner_spec` I've made the passing of the third variable verbose to give a better sense of its purpose.

[2018-07-02 08:43] Ana06 commented on #180
now that 2.3 is not longer supported I think this makes even more sense. @cornelius can I go ahead? :thinking:

[2018-07-04 19:33] matheussbernardo commented on #63
Hello @cornelius.

I started to study this big epic story.

So If I understood everything.

The two methods (write_data and read_data) on the class BurndownChart should have another behavior if  the user specifies remote-state as you said on #65, they should read and write data from the trello board right?

I want to focus on the #65 and then go to the other stories.

[2018-07-06 15:48] alexandergraul opened #201 "`cleanup-sprint` fails due to incorrect board setup"
I came across this issue when I made the burndown generation part of `cleanup-sprint` optional.

The cli uses the provided `--board-id` and `--target-board-id` to setup the boards in this way:
[code]
But the `SprintCleaner` tries to load the boards in a different way:
[code]

To fix this, `planning_board:` should be changed to `sprint_board: boards.sprint_board(...)`.

What made it hard for me to

[2018-07-06 15:49] alexandergraul commented on #201
Since I already have this working locally, I'll rebase on top off #199 and add tests.

[2018-07-19 14:25] agraul opened #203 "add cli tests for `trollolo scrum end-sprint`"
There are no tests for `trollolo scrum end-sprint`.

[2018-07-24 12:59] #201 closed

[2018-08-01 08:44] #151 closed

[2018-10-06 23:14] #130 closed

[2018-10-23 10:28] Ana06 commented on #134
There is some work done in https://github.com/openSUSE/trollolo/pull/184